* {
    padding: 0;
    margin: 0;
    outline: 0;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
i,
span,
input {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: #000;
    font-size: 30px;
}

body {
    font-family: 'Nunito', sans-serif;

    font-family: 'Roboto Slab', serif;
}

a,
a:hover {
    /* color: #000; */
    text-decoration: none;
}

.form-control:focus-within {
    box-shadow: none;
}

img {
    vertical-align: middle;
}

/* header css start */
.header_section {
    background: #003E1B;
    height: 88px;
    
}
.header_section.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }

.header_section .navbar-brand img {
  width: 150px;
  height: 80px;
}
.hide{
    display: none;
}
@media screen and (max-width: 1024px) {
    .hide{
        display: block;
    }
}
    


.header_section .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: #1A78F2;
    line-height: 21px;
    font-weight: 400;
    padding: 27px 12px;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    font-family: 'Roboto', sans-serif;
    transition: all linear .3s;
}

.header_section .navbar-nav .nav-item .nav-link i {
    margin-left: 2px;
}

/* .header_section .navbar-nav .nav-item .nav-link:hover {
    color: #D53E85;
} */

.header_section .navbar-nav .nav-item {
    position: relative;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.header_section .navbar-nav .nav-item ul {
    position: absolute;
    top: 85%;
    left: 0px;
    z-index: 1;
    float: left;
    min-width: 200px;
    padding: 0;
    margin: 0;
    display: none;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    transition: all linear .3s;
    /* -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%); */
}

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
  
.header_section .navbar-nav .nav-item ul li a {
    display: block;
    padding: 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #003E1B;
    white-space: nowrap;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.32);
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    font-family: 'Roboto', sans-serif;
}

.header_section .navbar-nav .nav-item ul li a:hover {
    color: #003E1B;
    background-color: rgba(0, 0, 0, .1);
}

.header_section .navbar-nav .nav-item:hover ul {
    display: block;
}
.left div{
    float: left;

}
.left .txt{
    padding-right: 14px;
   justify-content: center;
   flex-direction: row;
}
.left .txt a{
    color:#fff;
    font-size: 18px;
    font-weight: bold;
}
.any .blue{
    color: #003E1B;
}
/* .left .txt:hover a{
    color: #D53E85 !important;
} */


.animate__animated.animate__heartBeat {
    --animate-duration: 5s;
  }



/* .header_section .btn_nav {
    border: 1px solid #D53E85;
    padding: 9px 11px;
    font-size: 14px;
    position: relative;
    top: 22px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    background: #D53E85;
}


.header_section .btn_nav:hover {
    color: #D53E85;
    background: #fff;
    border: 1px solid #D53E85;
} */

.hvr-grow-shadow {
    border: 2px solid #003E1B;
    padding: 9px 11px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    color: #003E1B;
    background: #fefefe;
    /* position: relative; */
    margin-top: 15px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    color: #003E1B;
    border: 1px solid #003E1B;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.navbar-light .navbar-toggler {
    border: none;
    background: #003E1B !important;
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 6px 13px;
}

.navbar-light .navbar-toggler span {
    color: #fff;
}

/* .nav_bg {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
} */

/* header css end*/

.high{
    position: fixed;
    background-color: #fff;
    z-index: 999;
    height: 40px;
    align-items: center;
    border-top: #bdaeb5 2px solid;
    border-bottom: #bdaeb5 2px solid;
    box-shadow: 0 10px 12px rgb(0 0 0 / 18%);
}
.high .d-md-block{
    transition: background-color 200ms linear;
    
}
.high li{
    color: #003E1B;
    font-weight: bold;
    font-size: large;
}
.high li:hover{
    color: #034f24;
    cursor: pointer;
    
    /* transition: all ease 0.3s; */
}

 /* Dropdown Button */
 .dropbtn {
    color: #003E1B !important;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  /* .dropdown {
    position: relative;
    display: inline-block;
  } */
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  @media screen  and (max-width: 767px) {
    .dropdown-content{
        min-width: 100%;
    }
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #003E1B;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(192, 188, 188);
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;
    color: #075127;
  }
  .dropdown1{
    cursor: pointer;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown1:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown1:hover .dropbtn {color: #D53E85;} 



/* go viral css start */
.go_viral_sec {
    background: #003E1B;
    padding: 80px 0px;
}

.margn_top_40 {
    margin-top: 40px;
}

.margn_top_70 {
    margin-top: 70px;
}

.go_viral_txt h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 56px;
    color: #fff;
    margin-bottom: 20px;
}

.go_viral_txt p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: rgb(241, 239, 239);
    margin-bottom: 25px;
}

.go_viral_box {
    background: #FFFFFF;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
    padding: 25px 15px;
    text-align: center;
}

.go_viral_box img {
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.go_viral_box h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 15px;
}

.go_viral_box p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6);
}

/* go viral css end */

/* services css start */
.services_sec {
    padding: 50px 0px;
    background: rgba(203, 192, 255, 0.15);
    padding-bottom: 90px;
}

.services_txt h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 56px;
    color: #003E1B;
    margin-bottom: 20px;
}

.services_txt .media {
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
}

.services_txt .media::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    border-left: 2px dashed rgba(0, 0, 0, 0.3);
    left: 32px;
    top: 70px;
}

.services_txt .media.no_before:before {
    width: 0;
    position: inherit;
}

.services_txt .media span {
    margin-right: 25px;
    background: #003E1B;
    border-radius: 10px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 65px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 65px;
    height: 65px;
    text-align: center;
    margin-top: 5px;
}

.services_txt .media h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #003E1B;
    margin-bottom: 8px;
}

.services_txt .media p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6);
}

/* services css end */

/* recent post css start */
.recent_post {
    padding: 60px 0px;
    background-color: #eee;
}

.recent_post_head h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    color: #003E1B;
}


.slide{
    height: 345px !important;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.slide img{
    -o-object-fit: cover;
    object-fit: cover;
    height: 345px !important;
    width: 250px;
    border-radius: 4px;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    position: absolute;
    top: 0;
}
.slide h4{
    position: relative;
    z-index: 99;
    color: #fff;
    padding: 16px;
}
.slide h4 small{
    font-size: 14px;
}
.slide img:hover{
    opacity: 0.7;
}



.slider-section{
    background: #eee;
}

.swiper {
   
  width: 90%;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 345px !important;
width: 250px;
border-radius: 4px;
}

.swiper-slide img {
height: 345px !important;
width: 250px;

}
.swiper-slide img:hover{
opacity: 0.7;
}
.swiper-pagination-bullet-active{
    background: #003E1B !important;
}
/* .swiper-button{
    font-size: 20px;
background: #fff;
border-radius: 50%;
width: 55px;
height: 55px;
border: 1px solid #1A78F2;
cursor: pointer;
} */



/* recent post css end */

/* contact css start */
.contact_section {
    padding: 60px 0px;
    background: #003E1B;
    padding-bottom: 0;
}

.contact_lft h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 63px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.contact_lft h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.contact_lft .media {
    align-items: center;
}

.contact_lft .media img {
    margin-right: 15px;
}

.contact_lft .media h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.contact_lft .media p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #fff;

}

.contact_img {
    margin-top: 35px;
}

.contact_form {
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
    padding: 30px;
    margin-top: 10px;
}

.contact_form h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #003E1B;
    margin-bottom: 20px;
}

.contact_form .form-control {
    background: #FFFFFF;
    margin-bottom: 15px;
    border: 1px solid #EAEAEA;
    height: 56px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000000;
}

.contact_form .form-control:focus-within {
    border: 2px solid #003E1B;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.1);
}

.contact_form textarea {
    min-height: 225px;
    resize: none;
}

.contact_form .submit-bttn {
    text-align: right;
}

/* .contact_form .btn-submit {
    background: #D53E85;
    border-radius: 10px;
    display: inline-block;
    padding: 17px 30px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    border: 2px solid #D53E85;
}

.contact_form .btn-submit:focus-within {
    box-shadow: none;
}

.contact_form .btn-submit:hover {
    background-color: transparent;
    color: #D53E85;
} */


.hvr-rectangle-out {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    background: #fff;
    /* border-radius: 10px; */
    display: inline-block;
    padding: 17px 30px;
    color: #003E1B;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    border: 2px solid #003E1B;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #003E1B;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: white;
  }
  .hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

/* contact css end */


/* footer css start */
section.footer {
    background: #F2F3F8;
    padding: 60px 0;
}

.widgts h4 {
    color: #003E1B;
    font-size: 20px;
    margin: 0 0 30px 0;
}

.widgts ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.widgts ul li {
    margin-bottom: 10px;
}

.widgts ul li a {
    color: #999;
    text-transform: capitalize;
    font-size: 14px;
}

.widgts ul li a:hover {
    text-decoration: underline;
    color: #003E1B;
}

.wl-card-list {
    margin-top: 20px;
}

.wl-card-list ul li {
    display: inline-block;
}

.wl-card-list ul li a img {
    width: 50px;
}

.ftr_copy p {
    color: #a59d9f;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    width: 50%;
    margin-top: 15px;
}

.ftr_copy p a {
    color: #a59d9f;
}

/* footer css end */











/*==========================details css start */





.ahreff {
    text-align: center;
    color: #3e28a9;
  }
  .price_like {
    border: 1px solid #003e1b;
    background-color: #fff;
    min-height: 40px;
    height: auto;
    line-height: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px #88888842;
    padding: 0 10px;
    margin-right: 10px;
    /* margin: 0 5px; */
    /* width: 182px; */
  }
  .price_like a {
    color: #003e1b;
  }
  .price_like:hover {
    background-color: #003e1b;
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
  .price_like:hover a {
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
  
  /* .price_like1{
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      width: 91%;
      margin: auto;
  } */
  
  /* .hfsduf{
      border: solid 2px #EAECEE !important;
      width: 100%;
      float: left;
      border-radius: 10px !important;
      font-size: 18px;
      color: #717171;
      text-decoration: none;
      text-align: left;
      padding: 10px 13px;
      box-shadow: 0 4px 8px 1px #0000001f !important;
      font-weight: 700;background-color: #fff;
  }
  .list_drop-downs_youtub{
      display:none;
  }
  .ghfj{
      display:block;
  } */
  .inner h1 {
    font-size: 40px;
  }
  .inner span {
    color: #003e1b;
    font-weight: bold;
  }
  
  @media screen and (max-width: 800px) {
    .list_drop-downs_youtub {
      display: block;
      margin-top: 16px;
      margin-bottom: 30px;
    }
    .ghfj {
      display: none;
    }
  }
  
  .heading {
    text-align: center;
  }
  .heading h3,
  .heading i {
    color: #003e1b;
  }
  
  .package_box .pricing {
    font-weight: 600;
    padding: 14px 0 10px;
    text-align: center;
    background-color: #003e1b;
    color: #fff;
    font-size: 37px;
    line-height: 40px;
  }
  .package_box .features ul li {
    color: #455879;
    padding: 8px 0;
    list-style: none;
    font-size: 15px;
    text-align: center;
  }
  .cta {
    text-align: center;
    z-index: 999;
    text-align: center;
    margin: 24px auto 30px auto;
    cursor: pointer;
  }
  .cta a {
    background-color: #003e1b;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    padding: 12px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin: auto;
  }
  .cta a:hover {
    background-color: #fff;
    border: 1px solid #003e1b;
    color: #003e1b;
    transition: color 0.3s ease-in-out;
  }
  
  .price_coment_like{
    text-align: center;
              width: 100%;
              display: flex;
              justify-content: center;
              margin: 20px 0 30px 0;
              align-items: center;
              flex-direction: row;
  }
  
  .package_box {
    height: 450px !important;
    background-color: #fff;
  }
  .slider-section{
    overflow: hidden;
  }
  .swiper2 {
    width: 375px;
    height: 500px;
  }
  
  .swiper2 .swiper-slide {
    /* display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff; */
  
    height: 450px !important;
  }
  
  .bg-gray {
    background-color: #f5f5f5;
  }
  
  .content_block_service i {
    color: #003e1b;
    font-size: 42px;
  }
  .content_block_service p {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 0 0;
    height: 120px;
  }
  .content_block_service {
    padding: 30px;
    border: 1px #fff;
    border-radius: 10px;
    background-color: #fff;
    -moz-box-shadow: 0 4px 22px -3px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 4px 22px -3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 22px -3px rgba(0, 0, 0, 0.08);
    position: relative;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    text-align: center;
    min-height: 275px;
    position: relative;
    margin-bottom: 30px;
  }
  
  @media only screen and (min-width: 1000px) {
    .content_block_service.border:after {
      position: absolute;
      content: "";
      background: #003e1b;
      right: -70px;
      height: 4px;
      width: 70px;
      top: 50%;
    }
  }
  
  
  
  
  
  .faq_block {
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px 3px rgba(156,166,175,.22);
    box-shadow: 0 3px 6px 3px rgba(156,166,175,.22);
    padding: 38px 40px;
   
    -webkit-transition: opacity .4s,visibility .4s;
    -o-transition: opacity .4s,visibility .4s;
    transition: opacity .4s,visibility .4s;
  }
  
  
  .panel-default {
    border-color: transparent;
    border-bottom: 1px solid #e8eaed;
  border-radius:0px !IMPORTANT;
  }
  .panel-body p, .panel-body ul li{
  font-size:13px;
  }
  .panel-group .panel-heading a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    position: relative;
      font-size: 15px;
    text-transform: uppercase;
    color: #70717b;
    font-weight: normal;
    cursor: pointer;
    padding-right: 40px;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
  }
  .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #003e1b !important;
  }
  .title{
    color: #003e1b;
  }
  
  
  .panel,
  .panel-body {
    box-shadow: none;
  }
  
  .panel-group .panel-heading {
    padding: 0;
  }
  
  .panel-group .panel-heading a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    position: relative;
    color: #003e1b;
  }
  
  .panel-group .panel-heading a:after {
      content: '-';
      float: right;
      width: 20px;
      height: 20px;
      line-height: 20px;
      color: #fff;
      background-color: #003e1b;
      text-align: center;
      border-radius: 100%;
  }
  
  .panel-group .panel-heading a.collapsed:after {
    content: '+';
  }
  
  .panel-body p{
    font-size: 14px;
    padding: 3px 0;
  }


/* user_details Page */



  .enter_details_sec {
    background-image: url(../../images/enter_details_hero.png);
  }
  .logIn{
    background-image: url(../../images/logIn.webp);
    background-size: 40%;
    padding: 180px 0 !important;
  }
  .logIn span a{
    color: #003e1b;
  }
  .signUp{
    padding: 180px 0 !important;
  }
  .signUp span a{
    color: #003e1b;
  }
  .resetPassword{
    background-image: url(../../images/resetPassword.webp);
    padding: 180px 0 !important;
  }
  .signUp{
    background-image: url(../../images/signUp.webp);
    /* padding: 180px 0 !important; */
  }
  #details{
    padding: 60px 0px;
    background-color: #003e1b;
    background-size: 55%;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .enter_details_frm {
    background: #FFFFFF;
    box-shadow: 0px 10.79px 30.85px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    margin-bottom: 60px;
  }

  .checkout_details_frm h3, .enter_details_frm h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 20px;
  }
  .checkout_details_frm h6, .enter_details_frm h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
  }
  .checkout_details_frm .form-group, .enter_details_frm .form-group {
    position: relative;
  }
  .checkout_details_frm .form-group img.icon, .enter_details_frm .form-group i {
    position: absolute;
    left: 8px;
    top: 19px;
    color: #003e1b;
    font-size: 20px;
  }
  /* .form-control:focus-within {
    border-color: #003e1b;
  } */
  .form-group .form-control:focus-within {
    border: 2px solid #003E1B;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.1);
}
.frm-ftr{
  color: #fff;
}
  .checkout_details_frm .form-control, .enter_details_frm .form-control {
    background: #FFFFFF;
    margin-bottom: 15px;
    border: 1px solid #EAEAEA;
    height: 56px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding-left: 40px;
    color: #000000;
  }
  .payment_crads_wrap ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .payment_crads_wrap ul li a img {
    width: 35px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    width: 35px;
    height: 24px;
    margin-left: 8px;
  }
  .enter_details_frm .form-group .radio-custom-label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.5);
  }
  .enter_details_frm .form-group .radio-custom:checked ~ label {
    color: #000000;
  }

  .how_to_place_order {
    padding: 60px 0px;
      padding-bottom: 60px;
    padding-bottom: 0;
    background-image: url(../images/curve_bg.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 70%;
  }
  .place-order-img {
    text-align: center;
    position: relative;
    height: 100%;
  }
  .place-order-img img {
    bottom: 0;
    left: 0;
    position: absolute;
  }
  .place-order-text h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 62px;
    color: #003e1b;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
  }
  .place-order-text h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #322C50;
    opacity: 0.7;
    margin-bottom: 25px;
  }
  .place-order-text .media {
    align-items: center;
    margin-bottom: 15px;
  }
  .place-order-text .media span {
    background: #003e1b;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    display: inline-block;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
  }
  .place-order-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(50, 44, 80, 0.7);
    width: 100%;
  }

  /* //404 page */


  #notfound {
    position: relative;
    height: 100vh;
    background-color: #003E1B;
  }
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }
  .notfound .notfound-404 {
    height: 190px;
  }
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 146px;
    font-weight: 700;
    margin: 0px;
    color: #ffffff;
  }
  .notfound .notfound-404 h1 > span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url('../../images/emoji.png');
    background-size: cover;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: -1;
  }
  .notfound h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
  }
  .notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #787878;
    font-weight: 300;
  }
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 12px 30px;
    font-weight: 700;
    background-color: #fefefe;
    color: #003e1b;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }